/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* VARIABLES */
:root{
    /* COLORS */
    --primary-color:hsl(0, 0%, 0%);
    --secondary-color : hsl(0, 3%, 60%);
    
    /* BACKGROUND COLOR */
    --background-color: hsl(0, 0%, 100%);
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    background-color: var(--background-color);
    overflow: hidden;
}

/* TEXT */
.text-container{
    position: relative;
    display: inline-block;
}
.text{
    font-size: 5rem;
    color: var(--secondary-color);
    animation: textAnimation 5s ease-in-out infinite;
}
.text::before{
    content: 'Beautiful';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-right: 0.1em solid transparent;
    color: var(--primary-color);
    overflow: hidden;
    animation: color-change 3s steps(50, end) infinite, blink-caret .75s step-end infinite;
}
@keyframes color-change{
    0%{
        width: 0;
    }
    50%{    
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@keyframes blink-caret{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: var(--primary-color);
    }
    100%{
        border-color: transparent;
    }
}

    /* BREAKPOINTS */
@media screen and (max-width: 1024px){
    .text{
        font-size: 3rem;
    }
}
@media screen and (max-width: 425px){
    .text{
        font-size: 2rem;
    }
}